.header{
	background:#eee;
	color:#fff;
	margin:0px 0px 20px 0px;
	padding-left: auto;
	height:15vmin;
	border-top: 0.5vw solid #e73029;
}


.header .container h1 {
	padding: 1vh;
	background: #e73029;
	display: inline-block;
	font-size: 5vmin;
	margin-top: 0.7vh;
}

body{
	font-size: 2vmin;
}

.table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td {
  vertical-align: middle;
  padding: 1.5vmin 1.5vmin 1.5vmin 1.5vmin;
}
.table img {
	height: 3vmin;
}

.progress {
	vertical-align: middle;
	margin:0;
	height: 3vmin;
}

.progress-bar{
	font-size: 2vmin;
	line-height: 3vmin;
}

.footer{
	font-style: italic;
	font-size: 1.7vmin;
}